:root {
--icon-arrow-right: "\f200";
--icon-arrow-left: "\f201";
}
@font-face {
    font-family: "fantasticon";
    src: url("./fantasticon.woff?edd3d4fd61b5d9b038481a2514deb928") format("woff"),
url("./fantasticon.woff2?edd3d4fd61b5d9b038481a2514deb928") format("woff2"),
url("./fantasticon.svg?edd3d4fd61b5d9b038481a2514deb928#fantasticon") format("svg");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: fantasticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before { content: var(--icon-arrow-right); }
.icon-arrow-left:before { content: var(--icon-arrow-left); }
.icon-x-mark:before {
    content: "\f101";
}
.icon-school:before {
    content: "\f102";
}
.icon-github:before {
    content: "\f103";
}
.icon-chevron-down:before {
    content: "\f104";
}
.icon-beaker:before {
    content: "\f105";
}
.icon-arrow-path:before {
    content: "\f106";
}
.icon-arrow-down:before {
    content: "\f107";
}
